* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    background: url("/images/leather-black.jpg");
}


/*---------------------------
      BACKGROUND SLIDESHOW
 --------------------------*/
.slideshow-mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.6);
}

.slideshow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    animation: slideshowAnim 20s linear infinite;
}

@keyframes slideshowAnim {
    0% {
        opacity: 0;
        background: url("/images/carousel1.jpg");
        background-position-x: 0%;
    }
    1% {
        opacity: 1;
    }

    31% {
        background: url("/images/carousel1.jpg");
        background-position-x: 15.5%;
    }
    33% {
        background: url("/images/carousel2.jpg");
        background-position-x: 16.5%;
    }    

    65% {
        background: url("/images/carousel2.jpg");
        background-position-x: 32.5%;
    }
    67% {
        background: url("/images/carousel3.jpg");
        background-position-x: 33.5%;
    }

    97% {
        background: url("/images/carousel3.jpg");
        background-position-x: 43.5%;
        opacity: 1;
    }
    99% {
        opacity: 0;
        background-position-x: 44.5%;
    }
}

@media only screen and (min-width: 1441px){
    .slideshow {
        animation: slideshowAnim_lg 20s linear infinite;
    }
    @keyframes slideshowAnim_lg {
        0% {
            background-image: url("/images/carousel1.jpg");
        }

        31% {
            background-image: url("/images/carousel1.jpg");
        }
        33% {
            background-image: url("/images/carousel2.jpg");
        }

        65% {
            background-image: url("/images/carousel2.jpg");
        }
        67% {
            background-image: url("/images/carousel3.jpg");
        }

        98% {
            background-image: url("/images/carousel3.jpg");
        }
        100% {
            background-image: url("/images/carousel1.jpg");
        }
    }
}
/*---------------------------------------- 
----------------------------------------*/

.logo {
    height: 70%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

.logo-box {
    width: 60%;
    max-width: 500px;
    display: inline-block;
}

.logo-box img {
    width: 100%;
    height: auto;
}

.links {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.link-box {
    height: 75px;
    background: #ddd;
    margin: 15px;
    border-radius: 10px;
    transition: background 0.2s linear;
}

.link-box:hover {
    background: #bbb;
}

.link-box p {
    font-size: 1.5rem;
    text-align: center;
    line-height: 70px;
    vertical-align: middle;
}